@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800);
@import url(http://fonts.googleapis.com/css?family=Volkhov:400,400italic);

/* 1.0 - Basic Settings */

::selection {
	color: #ffffff;
	background: #1a1a1a;
}

::-moz-selection {
	color: #ffffff;
	background: #1a1a1a;
}

body {
	color: #7a7a7a;
	background: #000000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
}

.opl {
position:relative;
top:100px;
left:0px;
z-index:99999;
}
.opl a {
width:73px;
height:56px;
text-indent:-9999px;
display:block;
background:url('https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png') no-repeat;
}

/* Normal headings and typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1a1a1a;
	text-transform: none;
}

h1 {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 25px;
}

h2 {
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 25px;
}

h3 {
	font-size: 24px;
	line-height: 25px;
}


h4 {
	display: inline;
	font-size: 17px;
}

h4.slide-title {
	text-transform: uppercase;
	line-height: 1em;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0px;
	font-style: normal;
	max-width: 100%;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 20px 20px 20px 20px;
	background: rgba(255,255,255,0.9);

}

p.slide-desc {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding: 12px 20px 12px 20px;
  margin-bottom: 20px;
  background: rgba(255,255,255,0.9);
}

p.slide-desc {
  line-height: 1.6em;
  letter-spacing: 1px;
  font-weight: 300;
  font-style: normal;
}


h5 {
	font-size: 16px;
	line-height: 25px;
}

h6 {
	font-size: 13px;
	line-height: 25px;
}

p {
	margin-bottom: 25px;
}

/* FitText headings with css fallback */
h1.fittext,
h2.fittext,
h3.fittext,
h4.fittext,
h5.fittext,
h6.fittext {
	width: 100%;
	display: block;
	line-height: 0.9em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h1.fittext {
	font-size: 75px;
}

h2.fittext {
	font-size: 60px;
}

h3.fittext {
	font-size: 45px;
}

h4.fittext {
	font-size: 30px;
}

h5.fittext {
	font-size: 23px;
}

h6.fittext {
	font-size: 15px;
}

/* Bigger headings without using jQuery */
.bigtext h1,
.bigtext h2,
.bigtext h3,
.bigtext h4,
.bigtext h5,
h1.bigtext,
h2.bigtext,
h3.bigtext,
h4.bigtext,
h5.bigtext {
	line-height: 1.1em;
	padding-bottom: 2px;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h6.big {
	line-height: 1.1em;
	padding-bottom: 12px;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 25px;
	line-height: 40px;
}

.bigtext h1,
h1.bigtext {
	font-size: 80px;
}

.bigtext h2,
h2.bigtext {
	font-size: 70px;
}

.bigtext h3,
h3.bigtext {
	font-size: 60px;
}

.bigtext h4,
h4.bigtext {
	font-size: 50px;
	text-transform: uppercase;
}

.bigtext h5,
h5.bigtext {
	font-size: 40px;
}

.bigtext h6,
h6.bigtext {
	font-size: 25px;
}

/* Text backgrounds */
.text-bg {
	width: auto;
	display: inline-block;
	padding: 5px 7px 6px 8px;
	background: #bba454;
	margin: 2px;
}

.text-bg.white {
	background: #ffffff;
}

.text-bg.light {
	background: #7a7a7a;
}

.text-bg.dark {
	background: #1a1a1a;
}

.text-bg.color {
	background: #bba454;
}

/* Links */
a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #bba454;
}

/* Text colors */
.text-white,
h1.text-white,
h2.text-white,
h3.text-white,
h4.text-white,
h5.text-white,
h6.text-white,
p.text-white,
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p {
	color: #ffffff;
}

.text-light,
h1.text-light,
h2.text-light,
h3.text-light,
h4.text-light,
h5.text-light,
h6.text-light,
p.text-light,
.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6,
.text-light p {
	color: #adadad;
}

.text-dark,
h1.text-dark,
h2.text-dark,
h3.text-dark,
h4.text-dark,
h5.text-dark,
h6.text-dark,
p.text-dark,
.text-dark h1,
.text-dark h2,
.text-dark h3,
.text-dark h4,
.text-dark h5,
.text-dark h6,
.text-dark p {
	color: #1a1a1a;
}

.text-color,
h1.text-color,
h2.text-color,
h3.text-color,
h4.text-color,
h5.text-color,
h6.text-color,
p.text-color,
.text-color h1,
.text-color h2,
.text-color h3,
.text-color h4,
.text-color h5,
.text-color h6,
.text-color p {
	color: #14b4cc;
}

/* Serif font */
h1.serif,
h2.serif,
h3.serif,
h4.serif,
h5.serif,
h6.serif,
p.serif,
.serif h1,
.serif h2,
.serif h3,
.serif h4,
.serif h5,
.serif h6,
.serif p {
	font-family: 'Volkhov', 'Times New Roman', Georgia, serif;
	font-weight: 400;
}

/* Text styles */
p.big {
	font-size: 25px;
	line-height: 40px;
}

.small,
small {
	font-size: 12px;
}

.italic,
em {
	font-style: italic;
}

.bold,
strong,
b {
	font-weight: 900;
}

.thin {
	font-weight: 300;
}

/* More control over your headings */
.no-uppercase {
	text-transform: none;
}

.uppercase {
	text-transform: uppercase;
}

.letterspace {
	letter-spacing: 0.1em;
}

/* Lists */
.ordered-list {
	list-style-type: decimal;
	list-style-position: inside;
	margin-bottom: 25px;
}

.unordered-list {
	list-style-type: disc;
	list-style-position: inside;
	margin-bottom: 25px;
}

/* Quotes */
blockquote {
	font-family: 'Volkhov', 'Times New Roman', Georgia, serif;
	font-style: italic;
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 0;
	border-left: 2px solid #cccccc;
}

blockquote.left {
	text-align: left;
	padding-left: 15px;
	padding-right: 0;
	border-left: 2px solid #cccccc;
}

blockquote.right {
	text-align: right;
	padding-left: 0;
	padding-right: 15px;
	border-right: 2px solid #cccccc;
}

q {
	quotes : "\"" "\"" """ """;
}

q:before {
	content: '\201C';
}

q:after {
	content: '\201D';
}

q.colorq:before {
	content: '\201C';
	color: #bba454;
}

q.colorq:after {
	content: '\201D';
	color: #bba454;
}

/* Buttons */
.button {
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 20px;
	color: #ffffff;
	background: #1a1a1a;
	-webkit-border-radius: 2px;
			border-radius: 2px;
	margin-top: 5px;
}

a.button:hover {
	text-decoration: none;
	color: #ffffff;
	background: #bba454;
}

.button.small {
	font-size: 10px;
	padding: 5px 15px;
}

.button.big {
	font-size: 16px;
	padding: 15px 25px;
	-webkit-border-radius: 4px;
			border-radius: 4px;
}

/* Icons inside buttons */
.button > i {
	font-size: 14px;
}

.button.small > i {
	font-size: 12px;
}

.button.big > i {
	font-size: 18px;
}

/* Padding for outlined buttons */
.button.outline {
	padding: 8px 18px;
}

.button.small.outline {
	padding: 3px 13px;
}

.button.big.outline {
	padding: 15px 23px;
}



/* Alternative for a button */
a.underline {
	border-bottom: 1px solid #bba454;
}

a.arrow-link:after {
	font-family: 'FontAwesome';
	content: '\f101';
	color: #bba454;
	margin-left: 7px;
}

/* Icons */
i.inline {
	margin-left: 5px;
	margin-right: 5px;
}

.icon,
a .icon {
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	background: #1a1a1a;
	margin: auto 3px;
	-webkit-border-radius: 50%;
			border-radius: 50%;
}

a .icon:hover {
	text-decoration: none;
	color: #ffffff;
	background: #bba454;
}

.icon.small {
	font-size: 12px;
	width: 25px;
	height: 25px;
	line-height: 25px;
}

.icon.medium {
	font-size: 14px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.icon.big {
	font-size: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}

/* Fixing lineheights */
.icon.outline {
	line-height: 36px;
}

.icon.small.outline {
	line-height: 21px;
}

.icon.medium.outline {
	line-height: 26px;
}

.icon.big.outline {
	line-height: 46px;
}

/* Arrow controls */
.icon.arrow-top {
	-webkit-border-radius: 0px 0px 3px 3px;
			border-radius: 0px 0px 3px 3px;
}

.icon.arrow-prev {
	text-indent: -2px;
	-webkit-border-radius: 0px 3px 3px 0px;
			border-radius: 0px 3px 3px 0px;
}

.icon.arrow-next {
	-webkit-border-radius: 3px 0px 0px 3px;
			border-radius: 3px 0px 0px 3px;
}

.icon.arrow-bottom {
	-webkit-border-radius: 3px 3px 0px 0px;
			border-radius: 3px 3px 0px 0px;
}

.icon.attached {
	margin: auto -3px;
}

/* Styles for the buttons, icons and arrow controls */
.button.color,
.icon.color {
	color: #ffffff;
	background: #bba454;
}

a.button.color:hover,
a .icon.color:hover {
	color: #ffffff;
	background: #1a1a1a;
}

.button.white,
.icon.white {
	color: #1a1a1a;
	background: #ffffff;
}

.button.light,
.icon.light {
	color: #ffffff;
	background: #adadad;
}

.button.dark,
.icon.dark {
	color: #ffffff;
	background: #1a1a1a;
}


.button.outline,
.icon.outline {
	color: #1a1a1a;
	background: none;
	border: 2px solid #1a1a1a;
}

a.button.outline:hover,
a .icon.outline:hover {
	color: #ffffff;
	background: #1a1a1a;
}

.button.outline.color,
.icon.outline.color {
	color: #bba454;
	background: none;
	border: 2px solid #bba454;
}

a.button.outline.color:hover,
a .icon.outline.color:hover {
	color: #ffffff;
	background: #bba454;
}

.button.outline.white,
.icon.outline.white {
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
}

a.button.outline.white:hover,
a .icon.outline.white:hover {
	color: #1a1a1a;
	background: #ffffff;
}

.button.outline.light,
.icon.outline.light {
	color: #adadad;
	background: none;
	border: 2px solid #adadad;
}

a.button.outline.light:hover,
a .icon.outline.light:hover {
	color: #ffffff;
	background: #adadad;
}

.button.outline.dark,
.icon.outline.dark {
	color: #1a1a1a;
	background: none;
	border: 2px solid #1a1a1a;
}

a.button.outline.dark:hover,
a .icon.outline.dark:hover {
	color: #ffffff;
	background: #1a1a1a;
}

.button.fill {
	background:#fff !important;
	color:#1a1a1a !important;
	}
.button.fill:hover {
	background:rgba(252,234,34,1) !important;
	color:#fff !important;
	border-color:rgba(252,234,34,1) !important;
	}	
	
	
/* Pagination bullets */
.bullet-pagination {
	text-align: center;
}

.bullet-pagination a {
	background: #bba454;
	width: 12px;
	height: 12px;
	margin: 4px;
	display: inline-block;
	-webkit-border-radius: 50%;
			border-radius: 50%;
}

.bullet-pagination a.selected {
	background: #ffffff;
	cursor: default;
}

.bullet-pagination a span {
	display: none;
}

/* The title of a section */
.title {
	margin-bottom: 45px;
}

.title h1 {
	position: relative;
	font-size: 17px;
	line-height: 30px;
	font-weight: 600;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.title hr {
	width: 80px;
	height: 2px;
	background: #cccccc;
	border: 0;
	margin: 0 auto;
}

/* Show an icon instead of the horizontal rule, or use both */
.title i {
	position: relative;
	display: block;
	font-size: 54px;
	line-height: 54px;
	color: #cccccc;
	margin: 0 auto -45px;
}





/* Headers */
.header {
	position: relative;
	display: table;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 640px;
}

.header.fixed {
	background-attachment: fixed;
}

.header.top {
	background-position: top center;
}

.header.bottom {
	background-position: bottom center;
}

.header.medium {
	height: 500px;
}

.header.small {
	height: 320px;
}

.header-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.header-left {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.centerdiv {
	width: 920px;
	margin: 0 auto;
}

.header-center hr {
	width: 120px;
	height: 1px;
	background: #ffffff;
	border: 0;
	margin: 50px auto 35px;
}

.header1 { background:#ec5655; }
.header2 { background:#0CF; }
.header3 { background:#FC0; }
.header4 { background:#CCC; }

/* Fade */
.fade {
	filter: alpha(opacity=30);
	opacity: 0.3;
}

/* Smooth effects for no-touch devices only */
.no-touch a,
.no-touch a:hover,
.no-touch .button,
.no-touch .button:hover,
.no-touch .icon,
.no-touch .icon:hover,
.no-touch .icon.huge,
.no-touch .icon.huge:hover,
.no-touch .fade,
.no-touch .portfolio-thumb,
.no-touch .image-thumb,
.no-touch .service-item,
.no-touch a.play-btn i,
.no-touch a.play-btn:hover > i,
.no-touch .video-controls button,
.no-touch .video-controls button:hover,
.no-touch ul.home-menu li i,
.no-touch ul.home-menu li a:hover > i,
.no-touch .toggle,
.no-touch .toggle:hover,
.no-touch #contactform input,
.no-touch #contactform textarea,
.no-touch #contactform select,
.no-touch #contactform input:focus,
.no-touch #contactform textarea:focus,
.no-touch #contactform select:focus,
.no-touch #contactform input.submit,
.no-touch #contactform input.submit:hover,
.no-touch .fourofour i,
.no-touch .fourofour a:hover > i,
.no-touch .hoverimg,
.no-touch .hoverimg:hover,
.no-touch .employeeblock,
.no-touch .employeeblock:hover,
.no-touch .mask,
.no-touch .employeeblock:hover .mask,
.no-touch .serviceblock,
.no-touch .serviceblock:hover,
.no-touch .serviceblock .button,
.no-touch .serviceblock:hover .button,
.no-touch .serviceblock i,
.no-touch .serviceblock:hover i {
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		 -o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
}


/* ******************** 02 - Menu ******************** */
.main-menu {
	position: relative;
	display: block;
	width: 100%;
	min-height: 50px;
	background: rgba(252,234,34,1);
	z-index: 99;
	-webkit-box-shadow:  0px 0px 0px 1px rgba(0, 0, 0, 0.1);
			box-shadow:  0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.menu-wrap {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 920px;
}

.menu-logo {
	float: left;
	text-align: left;
	width: auto;
	max-height: 30px;
	margin-top: 20px;
	margin-bottom: 0;
}

.main-menu h1 {
	float: left;
	text-align: left;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.main-menu h1 a {
	text-decoration: none;
	color: #000000;
}

.main-menu h1 a:hover {
	color: #ffffff;
}

/* The toggle */
#toggle,
.toggle {
	display: none;
}

/* The menu items */
.menu {
	text-align: right;
	height: 100%;
}

.menu li {
	display: inline-block;
	list-style: none;
	margin-left: 40px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 70px;
	text-transform: uppercase;
	color: rgba(255,255,255,1.0);
	
}

.menu li a {
	display: inline-block;
	text-decoration: none;
	color: rgba(255,255,255,0.75);
	height: 100%;
}

.menu li a:hover {
	color: rgba(255,255,255,1.0);
}







/* ******************** Responsive settings for the menu ******************** */
@media only screen and (max-width: 768px){

	.menu-wrap {
		width: 100%;
	}
	
	.menu-logo {
		margin-top: 10px;
		margin-left: 15px;
	}
	
	.main-menu h1 {
		margin-top: 0;
		margin-left: 15px;
	}

	/* The toggle */
	.toggle {
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
		color: #bba454;
		float: right;
		font-family: 'FontAwesome';
		text-align: center;
		font-size: 14px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	
	.toggle:hover {
		color: #ffffff;
	}
	
	.toggle:after {
		content: '\f0c9';
	}
	
	#toggle:checked ~ .menu {
		display: block;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	
	#toggle:checked + .toggle:after {
		content: '\f077';
	}
	
	/* The menu items */
	.menu {
		display: none;
		filter: alpha(opacity=0);
		opacity: 0;
		margin-top: 50px;
		width: 100%;
		position: absolute;
		right: 0;
		height: auto;
		text-align: left;
		background: #1a1a1a;
		padding-bottom: 10px;
	}
	
	.menu li {
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		margin: 0;
	}
	
	.menu li a {
		display: block;
		width: 100%;
		height: auto;
		margin-left: 15px;
	}
}

/* White menu classes */
.main-menu.white-menu {
	background: #ffffff;
}

.main-menu.white-menu h1 a:hover {
	color: #1a1a1a;
}

.main-menu.white-menu .menu li a:hover {
	color: #bba454;
}

@media only screen and (max-width: 768px){
	.main-menu.white-menu .toggle:hover {
		color: #1a1a1a;
	}
	
	.main-menu.white-menu .menu {
		background: #fafafa;
	}
}


/* ******************** 03 - Home ******************** */

/* The fullscreen container */
.home-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.home-wrap.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
}

.home-wrap-short {
	position: relative;
	width: 100%;
	height: 640px;
}

.home-wrap-short .home-content,
.home-wrap-short .centerdiv {
	z-index: 10;
}

.home-wrap-short .bxslider {
	z-index: 0;
}

/* The content inside the fullscreen container */
.home-content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		 -o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	display: inline-block;
	width: 920px;
}

.home-content hr {
	width: 220px;
	height: 2px;
	background: #ffffff;
	border: 0;
	margin: 50px auto 35px;
}

.home-content img {
	margin-bottom: 0;
}

/* Fullscreen background image */

.pattern-img {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 1200px;
	width: 100%;
	height: auto;
	background-repeat: repeat;
	background-position: center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.fullscreen-img {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

@media screen and (max-width: 1024px) {
	.fullscreen-img {
		left: 50%;
		margin-left: -512px;
	}
}

@media screen and (max-width: 1024px) {
	.pattern-img {
		left: 50%;
		margin-left: -512px;
	}
}

/* Fullscreen video */
.video-container {
	display: block;
	position: relative;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.fullscreen-video {
	display: block;
	vertical-align: top;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

/* The circle menu */
ul.home-menu li {
	display: inline-block;
	width: 180px
}


ul.home-menu li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

ul.home-menu li i {
	font-size: 28px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 80px;
	height: 80px;
	line-height: 76px;
	letter-spacing: 0;
	color: #ffffff;
	border: 2px solid #ffffff;
	-webkit-border-radius: 50%;
			border-radius: 50%;
	margin: 25px auto;
}

ul.home-menu li em {
	font-family: 'Volkhov', 'Times New Roman', Georgia, serif;
	display: block;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
	color: #ffffff;
}

ul.home-menu li a:hover > i {
	background: #bba454;
	border: 2px solid #bba454;
}

/* The play button */
a.play-btn i {
	cursor: pointer;
	text-indent: 5px;
	font-size: 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 76px;
	letter-spacing: 0;
	color: #ffffff;
	background: none;
	border: 3px solid #ffffff;
	border-radius: 50%;
}

a.play-btn:hover > i {
	color: #ffffff;
	background: #bba454;
	border: 3px solid #bba454;
}

a.play-btn-normal {
	cursor: pointer;
}

.small-play-btn {
	text-indent: 1px;
}

/* Video controls */
.video-controls {
	position: absolute;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	bottom: 50px;
}

.video-controls button {
	filter: alpha(opacity=30);
	opacity: 0.3;
	cursor: pointer;
	margin: 4px;
	font-family: 'FontAwesome';
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 36px;
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
	-webkit-border-radius: 50%;
			border-radius: 50%;
}

.video-controls button:hover {
	filter: alpha(opacity=100);
	opacity: 1;
	color: #ffffff;
}

/* Controls for the fullscreen background sliders (index7) */
#home-controls a {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	outline: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	/*text-indent: -9999px;*/
	z-index: 11;
	zoom: 1;
}

#home-controls a.prev,
#home-controls a.next {
	color: #ffffff;
	font-size: 42px;
}

#home-controls a.prev:hover,
#home-controls a.next:hover {
	color: #ffffff;
	font-size: 56px;
}

#home-controls a.prev {
	left: 10px;
}

#home-controls a.prev:after {
	font-family: 'FontAwesome';
	content: '\f104';
}

#home-controls a.next {
	right: 10px;
}

#home-controls a.next:after {
	font-family: 'FontAwesome';
	content: '\f105';
}

#home-pagination.bullet-pagination {
	width: 200px;
	z-index: 12;
	position: absolute;
	bottom: 25px;
	left: 50%;
	margin-left: -100px;
}


/* ******************** 04 - Introduction ******************** */
.introduction {
	position: relative;
	padding-top: 100px;
	padding-bottom: 140px;
	background: #f0f0f0;
}


/* ******************** 05 - Featured Work ******************** */
.featured-work {
	position: relative;
	padding-top: 20px;
	padding-bottom: 0px;
	background: #ffffff;
}

.featured-work-slider {
	margin-bottom: 0px;
}

/* Huge icon */
.icon.huge {
	font-size: 56px;
	width: 120px;
	height: 120px;
	line-height: 114px;
	cursor: default;
	color: #adadad;
	background: none;
	border: 3px solid #ffffff;
}

.icon.huge:hover {
	color: #bba454;
	border: 3px solid #bba454;
}


/* ******************** 06 - More Work ******************** */
.more-work {
	position: relative;
	padding-top: 100px;
	padding-bottom: 0px;
	background: #f0f0f0;
}

.portfolio-thumb {
	display: block;
	background: #ffffff;
	padding-bottom: 25px;
}

.portfolio-thumb a {
	text-align: center;
	text-decoration: none;
}

.portfolio-thumb img {
	margin-bottom: -35px;
}

.portfolio-thumb i {
	text-align: center;
	position: relative;
	display: block;
	margin: 10px auto 15px;
	font-size: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	background: #1a1a1a;
	-webkit-border-radius: 50%;
			border-radius: 50%;
}

.portfolio-thumb:hover i {
	background: #bba454;
}

.portfolio-thumb b {
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #1a1a1a;
}

.portfolio-thumb em {
	font-family: 'Volkhov', 'Times New Roman', Georgia, serif;
	display: block;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
	color: #adadad;
}


/* ******************** 07 - Call to Action ******************** */
.call-to-action {
	position: relative;
}

.call-to-action .header {
	background: #333333;
}

.nobg .call-to-action .header {
	background: none;
}


/* ******************** 08 - About Me ******************** */
.about {
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	background: #ffffff;
}

.about .header {
	margin-bottom: 70px;
}

.about-avatar {
	position: relative;
	margin-top: 20px;
	border: 4px solid #ffffff;
	width: 160px;
	height: 160px;
	-webkit-border-radius: 50%;
			border-radius: 50%;
}


/* ******************** 09 - About Us ******************** */
.about-us {
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	background: #ffffff;
}

.about-us .header {
	margin-bottom: 70px;
}

/* Employees */
.employeeblock {
	padding: 20px 20px 10px;
	border: 2px solid #ffffff;
}

.employeeblock:hover {
	border: 2px solid #eeeeee;
}

.hoverimg {
	position: relative;
	width: 100%;
	height: 100%;
}

.hoverimg img {
	-webkit-border-radius: 50%;
			border-radius: 50%;
	margin-bottom: 0;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	-webkit-border-radius: 50%;
			border-radius: 50%;
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;
}

.mask span {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		 -o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}

.employeeblock:hover .mask {
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
}

.mask span i {
	color: #ffffff;
	margin: 3px;
}


/* ******************** 10 - Services ******************** */
.services {
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	background: #ffffff;
}

/* CarouFredsel styling for the services slider */
.list_carousel {
	position: relative;
	margin: 0;
	width: auto;
}

.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.list_carousel li {
	height: auto;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	text-align: center;
}

.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}

.clearfix {
	float: none;
	clear: both;
}

/* Service slider items */
li.service-item {
	display: block;
	background: #ffffff;
	padding-bottom: 25px;
	width: 480px;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
}

li.service-item p {
	margin-right: 25px;
	margin-left: 25px;
}

li.service-item img {
	margin-bottom: -35px;
}

li.service-item i {
	position: relative;
	display: block;
	margin: 10px auto 20px;
	font-size: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	background: #1a1a1a;
	-webkit-border-radius: 50%;
			border-radius: 50%;
}

li.service-item:hover i {
	background: #bba454;
}

li.service-item ul {
	margin: 25px 0 0;
}

li.service-item ul li {
	display: inline-block;
	padding: 12px;
	width: 100%;
}

li.service-item ul li:last-child {
	border-bottom: 2px solid #fafafa;
}

li.service-item ul li:nth-child(odd) {
	background-color: #fafafa;
}

/* Simple services */
.simple-services {
	position: relative;
	padding-top: 100px;
	padding-bottom: 50px;
	background: #ffffff;
}

/* Services hoverblocks */
.serviceblock {
	padding: 20px 20px 10px;
	border: 2px solid #ffffff;
}

.serviceblock:hover {
	border: 2px solid #eeeeee;
}

.serviceblock .button {
	margin-top: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;
}

.serviceblock:hover .button {
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
}

/* Huge icon */
.serviceblock i {
	text-align: center;
	font-size: 56px;
	width: 120px;
	height: 120px;
	line-height: 120px;
	cursor: default;
	color: #adadad;
	background: none;
	border: 3px solid #ffffff;
	-webkit-border-radius: 50%;
			border-radius: 50%;
}

.serviceblock:hover i {
	color: #bba454;
	border: 3px solid #bba454;
}





/* ******************** 11 - Quote ******************** */
.quote {
	position: relative;
	background: url('../images/testimonials.jpg');
}

.quote .header{
	padding: 20px;
	
}

.nobg .quote .header {
	background: none;
}


/* ******************** 12 - Contact ******************** */
.contact {
	position: relative;
	padding-top: 100px;
	padding-bottom: 140px;
	background: #ffffff;
}

/* Styling for the contactform */
#contactform {
	display: block;
	width: 100%;
	margin: 50px auto 0;
	text-align: left;
}

#contactform label {
	position: relative;
	z-index: 13;
	padding-left: 10px;
}

#contactform label {
	line-height: 50px;
}

#contactform input,
#contactform textarea,
#contactform select {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 50px;
	margin-top: -50px;
	line-height: 50px;
	font-size: 1em;
	padding-left: 30px;
	padding-right: 10px;
	width: 100%;
	color: #666666;
	background: #ffffff;
	border: 2px solid #eeeeee;
}

#contactform select {
	padding-right: 10px;
	margin-bottom: 20px;
}

@-moz-document url-prefix() {
	#contactform select {
		padding-top: 14px;
	}
}

#contactform textarea {
	line-height: 25px;
	width: 100%;
	min-height: 120px;
}

#contactform input.input-verify {
	padding-left: 55px;
}

#contactform input:focus,
#contactform textarea:focus,
#contactform select:focus {
	border: 2px solid #bba454;
	background-color: #ffffff;
	color: #1a1a1a;
}

/* The button */
#contactform input.submit {
	-webkit-appearance: none;
	cursor: pointer;
	margin: 20px auto 0;
	width: auto;
	height: auto;
	border: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.2em;
	line-height: 0;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 10px 20px;
	color: #ffffff;
	background: #bba454;
	-webkit-border-radius: 2px;
			border-radius: 2px;
}

#contactform input.submit:hover {
	color: #ffffff;
	background: #1a1a1a;
}

#contactform input[type="submit"][disabled] {
	color: #ffffff;
	background: #bba454;
}

/* Form validation styles */
#contactform span.required {
	color: #ff0000;
}

.error_message {
	display: block;
	height: 40px;
	line-height: 40px;
	background: #fbe3e4;
	color: #8a1f11;
	border: 1px solid #fbc2c4;
}

/* Loader image */
.loader {
	margin: 0 auto;
	padding: 0 25px;
}

/* What users see after they succesfully sent a message, see also the contact php file */
#success_page {
	text-align: center;
}

#success_page h4 {
	color: #bba454;
}


/* ******************** 13 - Footer ******************** */

/* Social footer */
.social-footer {
	position: relative;
	width:auto;
	padding-top: 100px;
	padding-bottom: 100px;
	background-size:  no-repeat fixed center;
}

.nobg .social-footer {
	background: url(images/footer.jpg);
}

.social-footer .icon {
	margin: 10px;
}

/* Credits at the bottom of the page */
.credits {
	position: relative;
	padding-top: 25px;
	padding-bottom: 0;
	background: #1a1a1a;
}

.nobg .credits {
	background: rgba(0,0,0,0.4);
}

/* Simple footer 1 */
.footer {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url(images/footer.jpg);
}

/* Simple footer 2 */
.footer-two {
	position: relative;
	padding-top: 0;
	padding-bottom: 25px;
	background: #f0f0f0;
}

.footer-two p {
	margin-bottom: 50px;
}


/* ******************** 14 - Project Page ******************** */
.main-menu.alreadyfixed {
	position: fixed;
	top: 0;
	left: 0;
}

.project-page-intro {
	position: relative;
	padding-top: 0px;
	padding-bottom: 0px;
	background: #ffffff;
}

.project-page-slider {
	margin-bottom: 70px;
}

.project-page-images {
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;
	background: #f0f0f0;
}

.project-page-images img {
	margin-bottom: 0;
}


/* ******************** 15 - 404 Page ******************** */
.fourofour {
	position: relative;
	width: 100%;
	height: 100%;
}

.fourofour-content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		 -o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	display: inline-block;
	width: 920px;
}

.fourofour hr {
	width: 120px;
	height: 2px;
	background: #ffffff;
	border: 0;
	margin: 50px auto;
}

.fourofour h1 {
	width: 100%;
	display: block;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 140px;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: 0;
}

.fourofour a {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.fourofour i {
	font-size: 28px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 80px;
	height: 80px;
	line-height: 76px;
	letter-spacing: 0;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50%;
	margin: 25px auto;
}

.fourofour em {
	font-family: 'Volkhov', 'Times New Roman', Georgia, serif;
	display: block;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
	color: #ffffff;
}

.fourofour a:hover > i {
	background: #bba454;
	border: 2px solid #bba454;
}


/* ******************** 16 - Timeline ******************** */



.container::-webkit-scrollbar {
  height: 45px;
}

.container::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-clip: content-box;
  border-radius: 100%;
  border: 20px solid transparent;
}

.entries {
  margin-left: 2.8em;
  margin-top:4em;
}

.timeline {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 0.7rem;
  background-color: beige;
  background-clip: content-box;
  border-width: 0.2rem 0;
  border-style: solid;
  border-color: white;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(0, 0, 0, 0.1);
}

.entry {
  float: left;
  max-width: 180px;
  position: relative;
  text-align: center;
  margin: 0 3.4em;
  
}

.entry .dot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: rgba(37,230,177,0.3);
  left: 50%;
  margin-left: -0.6rem;
  margin-top: -0.95rem;
  border-radius: 100%;
  box-sizing: border-box;
  background-clip: content-box;
 
  -moz-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  -o-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  -webkit-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
}

.entry:hover .dot {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: -0.8rem;
  margin-top: -1.15rem;
  background-color: rgba(252,234,34,1);
}

.entry:hover .label {
  margin-top: 2.5rem;
 background-color: rgba(252,234,34,1);
  border-bottom: 0.5rem solid transparent;
}

.entry:hover {color:#fff;}

.label {
  display: inline-block;
  position: relative;
  background-color: rgba(37,230,177,0.3);
  background-clip: padding-box;
  margin-top: 3rem;
  padding: 0.4rem 0.8rem 0.8rem;
  border-radius: 0.2rem;
  -moz-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  -o-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  -webkit-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  border-bottom: 0 solid transparent;
  min-width: 180px;
}

.label .time {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0 0 0.4rem;
  padding: 0 0.3rem 0.3rem;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.label .detail {
  font-size: 0.8rem;
}

.label:before {
  content: '';
  display: block;
  position: absolute;
  background-color: inherit;
  background-clip: content-box;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  left: 50%;
  margin-top: -0.9rem;
  margin-left: -0.5rem;
  transform-origin: center;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

.label a {
  color: #000;
  text-decoration: none;
}

.label a:before {
  content: '[';
}

.label a:after {
  content: ']';
}


/* Stats */

.stats {
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	background: #efefef;
}


.stats .title{	
 
font-weight: bold;
font-size: 14px;
letter-spacing: 1px;

}








/*** Progress bars **/
.progress{
	height: 12px;
	background-color:#ebeef1;
	background-image:none;
	box-shadow:none;
}
.progress.no-radius{
	border-radius:0px;
}
.progress.no-radius .progress-bar{
	border-radius:0px;
}
.progress.transparent{
	background-color:rgba(0, 0, 0, 0.28);
}
.progress.progress-small{
	height: 4px;
}
.progress.progress-large{
	height: 20px;
}
.progress.progress-small .progress-bar{height:4px;}
.progress.progress-large .progress-bar{height:20px;}
.progress-bar{
	box-shadow:none;
	border-radius: 3px;
	background-color: #0090D9;
	background-image: none;
}
.progress-bar-success{
	background-color: #0AA699;
	background-image: none;
}
.progress-bar-info{
	background-color: #0090D9;
	background-image: none;
}
.progress-bar-warning{
	background-color: #FDD01C;
	background-image: none;
}

.progress-bar-danger{
	background-color: #F35958;
	background-image: none;
}

.progress-bar-black{
		background-color: #22262e;
	background-image: none;
}
.progress-bar-white{
	background-color: #fff;
	background-image: none;
}
.progress-info .bar, .progress .bar-info{
	background-color: #0090D9;
	background-image: none;
}
.progress-warning .bar, .progress .bar-warning{
	background-color: #FDD01C;
	background-image: none;
}
.progress-danger .bar, .progress .bar-danger{
	background-color: #F35958;
	background-image: none;
}
.progress-white .bar, .progress .bar-white{
	background-color: #fff;
	background-image: none;
}

.progress-success.progress-striped .bar, .progress-striped .bar-success{
	 background-color: #0AA699;
}
.progress-info.progress-striped .bar, .progress-striped .bar-info{
	background-color: #0090D9;
}








/* ******************** 17 - Responsive Settings ******************** */

/* Large */
@media only screen and (min-width: 1200px) {

	.menu-wrap,
	.home-content {
		width: 1160px;
	}

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	.menu-wrap,
	.home-content,
	.centerdiv,
	.fourofour-content {
		width: 690px;
	}
	
	ul.home-menu li {
		width: 145px
	}
	
	li.service-item {
		margin-right: 15px;
		margin-left: 15px;
	}
	
	#contactform input.submit {
		margin: 10px auto 0;
	}

}

/* Medium */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	.bigtext h1,
	h1.bigtext {
		font-size: 70px;
	}

	.bigtext h2,
	h2.bigtext {
		font-size: 60px;
	}

	.bigtext h3,
	h3.bigtext {
		font-size: 50px;
	}

	.bigtext h4,
	h4.bigtext {
		font-size: 40px;
	}

	.bigtext h5,
	h5.bigtext {
		font-size: 30px;
	}

	.big h6,
	h6.big {
		font-size: 20px;
		line-height: 30px;		
	}
	
	p.big {
		font-size: 20px;
		line-height: 30px;
	}

	.header,
	.home-wrap-short {
		height: 540px;
	}

	.header.medium {
		height: 400px;
	}

	.header.small {
		height: 280px;
	}
	
	.home-content,
	.centerdiv,
	.fourofour-content {
		width: 400px;
	}
	
	ul.home-menu li {
		width: 90px
	}
	
	ul.home-menu li b,
	ul.home-menu li em {
		display: none;
	}
		
	li.service-item {
		margin-right: 8px;
		margin-left: 8px;
	}
	
	.serviceblock {
		padding: 0;
		border: none;
	}

	.serviceblock:hover {
		border: none;
	}

	.serviceblock .button {
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: visible;
	}
	
	.serviceblock:hover i {
		color: #adadad;
		border: 3px solid #ffffff;
	}
	
	.serviceblock i:hover {
		color: #bba454;
		border: 3px solid #bba454;
	}
	
	.employeeblock {
		padding: 0;
		border: none;
	}

	.employeeblock:hover {
		border: none;
	}
	
	#contactform input.submit {
		margin: 0 auto;
	}
	
	.footer .alignleft, 
	.footer .alignright {
		text-align: center;
	}
	
	.project-page-intro {
		padding-top: 0px;
	}

}

/* Small */
@media only screen and (max-width: 479px) {

	body {
		min-width: 302px;
	}

	.bigtext h1,
	h1.bigtext {
		font-size: 45px;
	}

	.bigtext h2,
	h2.bigtext {
		font-size: 40px;
	}

	.bigtext h3,
	h3.bigtext {
		font-size: 35px;
	}

	.bigtext h4,
	h4.bigtext {
		font-size: 30px;
	}

	.bigtext h5,
	h5.bigtext {
		font-size: 20px;
	}

	.big h6,
	h6.big {
		font-size: 20px;
		line-height: 30px;
	}
	
	p.big {
		font-size: 20px;
		line-height: 30px;
	}

	.header,
	.home-wrap-short {
		height: 480px;
	}

	.header.medium {
		height: 320px;
	}

	.header.small {
		height: 240px;
	}
	
	.home-content,
	.centerdiv,
	.fourofour-content {
		min-width: 270px;
		width: 270px;
	}
	
	ul.home-menu li {
		width: 60px
	}
	
	ul.home-menu li b,
	ul.home-menu li em {
		display: none;
	}
	
	ul.home-menu li i {
		font-size: 20px;
		width: 50px;
		height: 50px;
		line-height: 46px;
	}
	
	.slides-pagination,
	#home-pagination.bullet-pagination {
		bottom: 15px;
	}
	
	li.service-item {
		margin-right: 5px;
		margin-left: 5px;
	}
	
	.serviceblock {
		padding: 0;
		border: none;
	}

	.serviceblock:hover {
		border: none;
	}

	.serviceblock .button {
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: visible;
	}
	
	.serviceblock:hover i {
		color: #adadad;
		border: 3px solid #ffffff;
	}
	
	.serviceblock i:hover {
		color: #bba454;
		border: 3px solid #bba454;
	}
	
	.employeeblock {
		padding: 0;
		border: none;
	}

	.employeeblock:hover {
		border: none;
	}
	
	#contactform input.submit {
		margin: 0 auto;
		width: 100%;
	}
	
	.footer .alignleft, 
	.footer .alignright {
		text-align: center;
	}
	
	.project-page-intro {
		padding-top: 0px;
	}
	
	.featured-work-slider,
	.about .header,
	.about-us .header,
	.project-page-slider {
		margin-bottom: 0px;
	}
	
	.introduction,
	.featured-work,
	.more-work,
	.about,
	.about-us,
	.services,
	.simple-services {
		padding-top: 70px;
		padding-bottom: 0px;
	}
	
	.social-footer {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	
	.contact {
		padding-top: 70px;
		padding-bottom: 100px;
	}

}